<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>

    <%- include("./layout/header") %>

<div class="wrap">
    <div class="w-50">
        <a class="d-none d-sm-block bg-primary-200 py-12" href="products.html">商品列表</a></li>
    </div>
    <div class="w-50">
            <a class="d-none d-sm-block bg-primary-100 py-12" href="story.html">品牌故事</a></li>
    </div>
</div>
<div class="banner-head">
    <div class="banner-text">
        <h1 class="display-1 display-2-md mb-16 mb-md-8 text-neutral-white">URBNSTEP</h1>
        <h3 class="h3 h5-md mb-48 mb-md-32 text-neutral-white text-nowrap">Your Step, Your Statement</h3>
        <button type="button" class="btn btn-green">立即選購</button>
    </div>
</div>
<section class="container py-64 py-md-40">
    <div class="text-center mb-32 mb-md-24">
        <h2 class="display-2 h2-md mb-12 mb-md-8">New Arrival</h2>
        <h2 class="h2 h4-md">新品上市</h2>
    </div>
    <div class="row row-md">
        <div class="col-6 col-md-2" data-aos="fade-up">
            <div class="card mb-40 mb-md-24">
                <img class="mb-12 mb-md-8" src="/assets/images/new-1.png" alt="new-1">
                    <h5 class="h5 h6-md">Monoverse</h5>
                    <p>NT$3,600</p>
                </img>
            </div>
        </div>
        <div class="col-6 col-md-2" data-aos="fade-up">
            <div class="card mb-40 mb-md-24">
                <img class="mb-12 mb-md-8" src="/assets/images/new-2.png" alt="new-2">
                    <h5 class="h5 h6-md">PLATFORM 404</h5>
                    <p>NT$2,600</p>
                </img>
            </div>
        </div>
        <div class="col-6 col-md-2" data-aos="fade-right">
            <div class="card">
                <img class="mb-12 mb-md-8" src="/assets/images/new-3.png" alt="new-3">
                    <h5 class="h5 h6-md">URBN Force</h5>
                    <p>NT$3,200</p>
                </img>
            </div>
        </div>
        <div class="col-6 col-md-2" data-aos="fade-left">
            <div class="card">
                <img class="mb-12 mb-md-8" src="/assets/images/new-4.png" alt="new-4">
                    <h5 class="h5 h6-md">Mode90</h5>
                    <p>NT$4,000</p>
                </img>
            </div>
        </div>
    </div>
</section>
<section class="container py-64 py-md-40">
    <h2 class="h2 h4-md mb-16">熱銷補貨</h2>
    <div class="row row-md-flow overflow-md-auto">
    <div class="col-3 px-md-8 w-md-300 flex-md-shrink0" data-aos="fade-up-right">
        <div class="card-popular">
            <img src="/assets/images/product-3.png" alt="product-3">
            <span class="tag-popular">人氣NO.1</span>
        </div>
    </div>
    <div class="col-3 px-md-8 w-md-300 flex-md-shrink0" data-aos="fade-down-right">
        <div class="card-popular">
            <img src="/assets/images/product.png" alt="product">
            <span class="tag-popular">人氣NO.1</span>
        </div>
    </div>
    <div class="col-3 px-md-8 w-md-300 flex-md-shrink0" data-aos="fade-down-left">
        <div class="card-popular">
            <img src="/assets/images/product-6.png" alt="product-6">
            <span class="tag-popular">人氣NO.1</span>
        </div>
    </div>
    <div class="col-3 px-md-8 w-md-300 flex-md-shrink0" data-aos="fade-up-left">
        <div class="card-popular">
            <img src="/assets/images/product-4.png" alt="product-4">
            <span class="tag-popular">人氣NO.1</span>
        </div>
    </div>
    </div>

</section>
<section class="banner-co text-center position-relative py-48 py-md-24" data-aos="zoom-in-left" data-aos-duration="2000">
    <div class="d-flex justify-center flex-md-column mb-16">
        <p class="display-2 h2-md text-neutral-white mb-md-8">URBNSTEP</p>
        <p class="h1 h3-md mx-24 text-primary-300 mb-mb-8">x</p>
        <p class="display-2 h2-md text-neutral-white mb-md-16">Kevin Chen</p>
    </div>
    <p class="h2 h5-md text-neutral-white mb-32 mb-md-24">跨界聯名，限量發售</p>
    <p class="text-20 h6-md text-neutral-500 mb-48 px-md-16 mb-md-32">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
    <button type="button" class="btn btn-green">立即搶購</button>
    <img class="star" src="/assets/images/star.svg" alt="star">
    <img class="sparkle" src="/assets/images/sparkle.svg" alt="sparkle">
</section>
<section class="container py-64 py-md-40" 
         data-aos="fade-up"
         data-aos-duration="3000">
    <h2 class="h2 h4-md mb-16">依系列選購</h2>
    <div class="row row-md">
        <div class="col-3 col-md-2 mb-md-12">
            <div class="card-product6">
                <div class="card-product-text">
                    <h3 class="h3 h6-md text-neutral-white mb-8">URBN RUNNER</h3>
                    <h4 class="h4 h6-md text-neutral-white">慢跑系列</h4>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-2 mb-md-12">
            <div class="card-product11">
                <div class="card-product-text">
                    <h3 class="h3 h6-md text-neutral-white mb-8">STREETMODE</h3>
                    <h4 class="h4 h6-md text-neutral-white">滑板系列</h4>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-2">
            <div class="card-product9 ">
                <div class="card-product-text">
                    <h3 class="h3 h6-md text-neutral-white mb-8">CHUNK DISTRICT</h3>
                    <h4 class="h4 h6-md text-neutral-white">厚底系列</h4>
                </div>
            </div>
        </div>
        <div class="col-3 col-md-2">
            <div class="card-product10">
                <div class="card-product-text">
                    <h3 class="h3 h6-md text-neutral-white mb-8">COLLAB ZONE</h3>
                    <h4 class="h4 h6-md text-neutral-white">聯名企劃</h4>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="container py-64 mb-48 py-md-40 mb-md-24"> 
    <h2 class="h2 h4-md mb-16">穿搭靈感</h2>
    <div class="wrap d-flex column-gap-8 columd-gap-md16  overflow-md-auto" 
         data-aos="fade-right"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine">
        <div class="d-flex flex-column row-gap-8 w-66 d-md-contents">
            <div class="d-flex column-gap-8 d-md-contents" >
                <img class="inspiration-img" src="/assets/images/inspiration-1.png" alt="inspiration-1">
                <img class="inspiration-img" src="/assets/images/inspiration-2.png" alt="inspiration-2">
                <img class="inspiration-img" src="/assets/images/inspiration-4.png" alt="inspiration-4">
                <img class="inspiration-img" src="/assets/images/inspiration-5.png" alt="inspiration-5">
            </div>   
            <div class="d-flex column-gap-8 d-md-contents" data-aos="fade-up"
     data-aos-duration="3000">
                <img class="inspiration-img" src="/assets/images/inspiration-3.png" alt="inspiration-3">
                <div class="d-flex flex-column row-gap-8 d-md-contents">
                        <div class="d-flex column-gap-8 d-md-contents">
                            <img class="inspiration-img" src="/assets/images/inspiration-6.png" alt="inspiration-6">
                            <img class="inspiration-img" src="/assets/images/inspiration-7.png" alt="inspiration-7">
                        </div>
                        <div class="d-flex column-gap-8 d-md-contents">
                            <img class="inspiration-img" src="/assets/images/inspiration-8.png" alt="inspiration-8">
                            <img class="inspiration-img" src="/assets/images/inspiration-9.png" alt="inspiration-9">
                        </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column row-gap-8 w-33 d-md-contents" 
             data-aos="fade-down"
             data-aos-easing="linear" 
             data-aos-duration="1500">
            <img class="inspiration-img" src="/assets/images/inspiration-10.png" alt="inspiration-10">
            <div class="d-flex column-gap-8 d-md-contents">
                <img class="inspiration-img" src="/assets/images/inspiration-11.png" alt="inspiration-11">
                <img class="inspiration-img" src="/assets/images/inspiration-12.png" alt="inspiration-12">
            </div>
        </div>
    </div>
</section>


    <%- include("./layout/footer") %>
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>
